{{ define "content" }}
  <table class="uk-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th class="tm-table-field-number">Utilisé dans (recettes)</th>
      </tr>
    </thead>
    <tbody>
      {{ range $ingredient := .Data }}
        <tr class="tm-table-row-clickable">
          <td>
            {{ if $ingredient.Recipe }}
              <a  class="uk-link-text" href="{{ recipeURL $.Site.PublicURL $ingredient.Recipe.Code }}">
                {{ $ingredient.Title }}
              </a>
            {{ else }}
              {{ $ingredient.Title }}
            {{ end }}
          </td>
          <td class="tm-table-field-number">
            <a href="{{ $.Site.PublicURL }}/ingredients/{{ $ingredient.Code }}">
              {{ len $ingredient.Recipes }}
            </a>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}

{{ template "layout" . }}
