{{ define "content" }}
  <div class="uk-width-3-4@l uk-align-center">
    <h1 class="uk-heading-small uk-heading-divider uk-margin-remove-top">{{ .Data.Title }}</h1>

    {{- if .Data.WarningSafeHTML }}
      <p class="uk-background-muted uk-padding">
        <span class="uk-label">Note</span>
        {{ .Data.WarningSafeHTML }}
      </p>
    {{- end }}

    <div uk-grid="true">
      <div class="uk-width-1-2@s">
        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2"><span class="uk-text-uppercase">Temps total</span></div>
          <div class="uk-width-1-2">{{ .Data.TotalDuration.TimeDuration | duration }}</div>
        </div>

        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2">préparation</div>
          <div class="uk-width-1-2">{{ .Data.Preparation.TimeDuration | duration }}</div>
        </div>

        {{- if .Data.Resting }}
        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2">repos</div>
          <div class="uk-width-1-2">{{ .Data.Resting.TimeDuration | duration }}</div>
        </div>
        {{- end }}

        {{- if .Data.Cooking }}
        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2">cuisson</div>
          <div class="uk-width-1-2">{{ .Data.Cooking.TimeDuration | duration }}</div>
        </div>
        {{- end }}

        <hr>

        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2"><span class="uk-text-uppercase">Coût</span></div>
          <div class="uk-width-1-2">{{ .Data.PricingScale | scale "nut" 5 }}</div>
        </div>

        <div uk-grid="true" class="uk-grid-small">
          <div class="uk-width-1-2"><span class="uk-text-uppercase">Difficulté</span></div>
          <div class="uk-width-1-2">{{ .Data.DifficultyScale | scale "nut" 5 }}</div>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <h5 class="uk-text-uppercase">
          Ingrédients pour {{ .Data.Servings.Quantity }} {{ .Data.Servings.Type }}
        </h5>

        {{ range $ingredient := .Data.Ingredients }}
          <div class="uk-grid-small" uk-grid="true">
            <div class="uk-width-expand" uk-leader="true">
              {{ $url := ingredientURL $.Site.PublicURL $ingredient.Code }}
              {{ if $ingredient.Recipe }}
                {{ $url = recipeURL $.Site.PublicURL $ingredient.Recipe.Code }}
              {{ end }}

              <a class="uk-link-text" href="{{ $url }}">
                {{ $ingredient.Title }}
              </a>
              {{ range $alternative := $ingredient.Alternatives }}
                /
                {{ $url := ingredientURL $.Site.PublicURL $alternative.Code }}
                {{ if $alternative.Recipe }}
                  {{ $url = recipeURL $.Site.PublicURL $alternative.Recipe.Code }}
                {{ end }}
                <a class="uk-link-text" href="{{ $url }}">
                  {{ $alternative.Title }}
                </a>
              {{ end }}
              {{ if ne $ingredient.Details "" }}
                ({{ $ingredient.Details }})
              {{ end }}
            </div>
            {{ if gt $ingredient.Quantity.Value 0.0 }}
              <div>
                {{ $ingredient.Quantity }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    <div>
      <div class="uk-hidden@s uk-margin-large-top"></div>
      <h5 class="uk-text-uppercase">Étapes</h5>
      {{ range $instruction := .Data.Instructions }}
        <p>
          {{ $instruction.Title }}
          {{ if $instruction.Recipe }}
            (<a href="{{ recipeURL $.Site.PublicURL $instruction.Recipe.Code }}">voir la recette</a>)
          {{ end }}
          {{- if $instruction.WarningSafeHTML }}
            <mark>{{ $instruction.WarningSafeHTML }}</mark>
          </p>
          {{ end }}
        </p>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ template "layout" . }}
